.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px;
}

.header-user-tag {
  font-size: 25px;
}

.listCategories {
  list-style-type: none;
  display: flex;
  gap: 8px;
  padding: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  position: relative;
  bottom: 30px;
}

.listCategories::-webkit-scrollbar {
  display: none;
}

.cat {
  font-size: 20px;
  font-family: "Inter";
  background: rgb(97, 219, 223);
  border-radius: 15px;
  white-space: nowrap;
}
